<div class="container">
  <div class="row">
    <h1>Make us thirsty</h1>
    <h2>Share with us your favorite cocktail</h2>
    <br>

    <%= simple_form_for [@cocktail] do |c| %>
    <%= c.input :name %>
    <%= c.input :photo %>
    <%= c.input :photo_cache, as: :hidfden %>
    <br>
    <%= c.submit%>
    <% end %>
  </div>
</div>

