<div class="container">
  <div class="row">
    <h1> <%= @cocktail.name  %> </h1>
      <ul>
        <% @cocktail.doses.each do |dose| %>
        <li> <%= dose.description %> <%= dose.ingredient.name %> - <%= link_to 'Delete', dose_path(dose) %></li>
        <% end %>
        <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail) %>
      </ul>

      <%= link_to 'Back to all Cocktails', cocktails_path %>
  </div>
</div>


