<div class="container">
  <div class="row">

        <h1 class="new-dose-title">Mix everything</h1>

        <h2><%= @cocktail.name %></h2>
        <br>
          <%= simple_form_for([@cocktail, @dose]) do |f| %>
          <%= f.association :ingredient, collection: @ingredients %>
          <%= f.input :description %>
          <%= f.submit %>
    <% end %>

  </div>
</div>



